@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?4xzuk8');
	src:url('fonts/icomoon.eot?#iefix4xzuk8') format('embedded-opentype'),
		url('fonts/icomoon.woff?4xzuk8') format('woff'),
		url('fonts/icomoon.ttf?4xzuk8') format('truetype'),
		url('fonts/icomoon.svg?4xzuk8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
	content: "\e947";
}

.icon-alarm:before {
	content: "\e950";
}

.icon-bubbles3:before {
	content: "\e96f";
}

.icon-users:before {
	content: "\e972";
}

.icon-user-plus:before {
	content: "\e973";
}

.icon-user-minus:before {
	content: "\e974";
}

.icon-spinner11:before {
	content: "\e984";
}

.icon-flag:before {
	content: "\e9cc";
}

.icon-heart:before {
	content: "\e9da";
}

.icon-smile:before {
	content: "\e9e1";
}

.icon-evil:before {
	content: "\e9ef";
}

.icon-hipster:before {
	content: "\e9f9";
}

.icon-crying:before {
	content: "\ea01";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-minus:before {
	content: "\ea0b";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-heart2:before {
	content: "\e600";
}

.icon-user:before {
	content: "\e601";
}

.icon-search:before {
	content: "\e602";
}

.icon-settings:before {
	content: "\e603";
}

.icon-pen:before {
	content: "\e604";
}

.icon-location2:before {
	content: "\e605";
}

.icon-bubble:before {
	content: "\e606";
}

.icon-music:before {
	content: "\e607";
}

.icon-fire:before {
	content: "\e608";
}

